*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  background: #0f0d13;
}

main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.6rem 0;
  user-select: none;
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
}

.player-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2a2141;
  width: 26.6rem;
  min-height: 49.8rem;
  border-radius: 9.6px;
  padding: 5.095rem 3.841rem;
  margin: 1.6rem 0;
}

.player-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2a2141;
  width: 35.771rem;
  min-height: 26.668rem;
  padding: 2.8rem;
  border-radius: 9.6px;
  margin: 1.6rem 0;
}

.player-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2a2141;
  width: 35.771rem;
  min-height: 19.926rem;
  padding: 2.8rem;
  border-radius: 9.6px;
  margin: 1.6rem 0;
}

.art-info-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.8rem;
  align-items: center;
}

.player-large .art-container {
  width: 18.9rem;
  height: 18.9rem;
  margin: 0 0 2.88rem;
}

.art-container {
  width: 8.4rem;
  height: 8.4rem;
  border-radius: 0.6rem;
  overflow: hidden;
}

.art {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 18.96rem;
}

.player-medium .info {
  display: flex;
  width: 18.72rem;
  height: 5.26rem;
}

.slider {
  overflow: hidden;
  white-space: nowrap;
  width: 18.9rem;
  margin: 0 0 0.96rem;
}

.player-medium .slider,
.artist {
  width: 17.1rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%;
  color: #e1e1e6;
}

.title-extended {
  animation: slide 15s linear infinite;
  display: inline-block;
}

.artist {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 100%;
  color: #e1e1e6;
  opacity: 0.7;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.88rem 0;
  width: 30rem;
  height: 2.88rem;
}

.player-large .controls {
  width: 18.96rem;
}

.player-small .controls {
  margin: 2.88rem 0 0;
}

.play {
  margin: 0 5.67rem 0;
  width: 1.8rem;
  height: 2.07rem;
}

.previous,
.next {
  width: 2.7rem;
  height: 1.62rem;
}

.player-medium .duration,
.player-medium .progress-bar,
.player-medium .progress-timer {
  width: 30rem;
}

.progress-bar {
  width: 18.96rem;
  height: 0.6rem;
  border-radius: 9.6px;
  overflow: hidden;
  position: relative;
}

.progress-bar-background {
  background: #d9d9d9;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.progress-bar-status {
  background: #d9d9d9;
  opacity: 0.8;
  width: 87%;
  height: 100%;
  border-radius: 9.6px;
  position: absolute;
  top: 0;
}

.progress-timer {
  display: flex;
  width: 18.96rem;
  margin: 0.96rem 0 0;
}

.song-start {
  font-size: 1.44rem;
  font-weight: 400;
  color: #c4c4cc;
  opacity: 0.7;
  width: 100%;
  text-align: start;
}

.song-end {
  font-size: 1.44rem;
  font-weight: 400;
  color: #c4c4cc;
  opacity: 0.7;
  width: 100%;
  text-align: end;
}

@media screen and (min-width: 992px) {
  .title:hover,
  .artist:hover {
    text-decoration: underline solid currentColor 0.2rem;
    cursor: pointer;
  }

  .controls {
  }

  .previous:hover,
  .play:hover,
  .next:hover {
    scale: 1.15;
    transition: all 100ms ease-in-out;
    cursor: pointer;
  }

  .progress-bar:hover {
    cursor: pointer;
  }

  .progress-bar:hover > .progress-bar-status {
    animation: progress 10s linear infinite;
  }
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  main {
    width: 65.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    margin: 0;
  }

  .wrapper {
    display: grid;
    gap: 3.209rem;
  }

  .player {
    margin: 0;
  }
}

@keyframes slide {
  10% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(-100% + 18.9rem));
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes progress {
  0% {
    width: 87%;
  }

  13% {
    width: 100%;
  }

  13.1% {
    width: 0%;
  }

  100% {
    width: 87%;
  }
}
