:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  background: #0f0d13;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2a2141;
  width: 26.6rem;
  height: 49.8rem;
  border-radius: 9.6px;
}

.art-container {
  margin: 5.095rem 0 2.88rem;
  border-radius: 0.6rem;
  width: 18.9rem;
  overflow: hidden;
}

.art {
  width: 100%;
}

.info {
  display: flex;
  flex-direction :column;
  width: 18.96rem;
}

.title {
  overflow: hidden;
  text-overflow: clip ellipsis;
  width: 100%;
  height: 2.8rem;
  margin: 0 0 0.96rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #e1e1e6;
  transition: text-indent 5s linear;
}

.title:hover {
  text-indent: -50rem;
}

.artist {
  font-size: 1.9rem;
  font-weight: 400;
  color: #e1e1e6;
}

.controls {
  margin: 2.88rem 0;
  width: fill(18.96rem);
}

.play {
  margin: 0 5.67rem 0;
  width: 1.8rem;
  height: 2.07rem;
}

.previous,
.next {
  width: 2.7rem;
  height: 1.62rem;
}

.progress-bar {
  width: 18.96rem;
  height: 0.6rem;
  position: relative;
}

.progress-bar-background {
  background: #d9d9d9;
  width: 100%;
  height: 100%;
  border-radius: 9.6px;
  opacity: 0.3;
}

.progress-bar-status {
  background: #d9d9d9;
  width: 85%;
  height: 100%;
  border-radius: 9.6px;
  opacity: 0.8;
  position: absolute;
  top: 0;
}

.progress-timer {
  display: flex;
  width: 18.96rem;
  margin: 0.96rem 0 0;
}

.song-start {
  font-size: 1.44rem;
  font-weight: 400;
  color: #c4c4cc;
  width: 100%;
  text-align: start;
}

.song-end {
  font-size: 1.44rem;
  font-weight: 400;
  color: #c4c4cc;
  width: 100%;
  text-align: end;
}
